<ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link active" routerLink="home">Home</a></li>
  <li class="nav-item"><a class="nav-link active" routerLink="games">Games</a></li>
  <li class="nav-item"><a class="nav-link active" routerLink="rankings">Rankings</a></li>
</ul>

<!-- 
<ul class="nav nav-pills">
  <li role="presentation"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Next Matches</a></li>
  <li role="presentation"><a href="#">Rankings</a></li>
</ul>

const routes: Routes = [
  {path: '', component: HomeComponent},
  {path: 'home', component: HomeComponent},
  {path: 'games', component: GamesComponent},
  {path: 'rankings', component: RankingsComponent}



-->
